.sizing {
  width: 100vw;
}

@media (min-width: 768px) {
  .sizing {
    width: max(5rem, 80vw);
    height: max(14rem, calc(100vh - 8rem));
  }
}

.fullscreen {
  width: 100vw;
}

@media (min-width: 768px) {
  .fullscreen {
    width: 100vw;
    height: calc(100vh - 3rem);
  }
}

.transition {
  transition: opacity 300ms ease-out;
}

@media (min-width: 768px) {
  .transition {
    transition: width 300ms ease-out, height 300ms ease-out,
      opacity 300ms ease-out, margin-top 300ms ease-out,
      margin-bottom 300ms ease-out;
  }
}
